bs4
gitpython~=3.1
# TODO: network patching dependency resolution
neon-utils[network]~=1.1,>=1.11.1a3
ovos-utils~=0.0, >=0.0.28
ovos-bus-client~=0.0,>=0.0.3
ovos-workshop~=0.0,>=0.0.15
ovos-lingua-franca~=0.4
